---
import Layout from '../layouts/Layout.astro';

import Icon from '../components/Icon.astro';
import Button from '../components/Button.astro';
import Watch from '../components/Watch.astro';

import { Image } from 'astro:assets';
import Background from '../assets/images/Background.jpg';
import Foto01 from '../assets/images/foto01.jpeg';
import Foto02 from '../assets/images/foto02.jpeg';
import Foto03 from '../assets/images/foto03.jpeg';
import Foto04 from '../assets/images/foto04.jpeg';
import Foto05 from '../assets/images/foto05.jpeg';
import Foto06 from '../assets/images/foto06.jpeg';
import Foto07 from '../assets/images/foto07.jpeg';
import Foto08 from '../assets/images/foto08.jpeg';
---

<Layout title="Quinces Agos">
	<main>
		<!-- PORTADA CON FOTO -->
		<div>
			<section>
				<div class="h-screen">
					<Image class="absolute h-screen object-cover z-0 w-full shadow-xl" src={Background} alt="Blue sky background" />
					<div class="absolute inset-x-0 bottom-0">
						<div id="title" class="h-16 my-44 mb-80">
							<h1 class="text-8xl m-1 text-white drop-shadow-2xl font-medium">AGOS</h1>
							<p class="text-lg text-white">MIS QUINCE AÑOS</p>
						</div>
						<div class="arrow-container">
							<div class="arrow" id="arrow"></div>
						</div>
					</div>
				</div>
			</section>

			<!-- RELOJ -->
			<section>
				<div class="shadow-lg watch bg-color1 text-[#4B4B4B]">
					<h2>CUENTA REGRESIVA</h2>
					<Watch />
				</div>
			</section>

			<!-- DESCRIPCION -->
			<section>
				<div class="section">
					<Icon name="confeti" />
					<h2 class="subtitle pt-5">FIESTA</h2>
					<p class="text-lg text-[#4B4B4B]">
						¡Te espero el Viernes 01 de noviembre de 21:45 a 05:00 hs para festejar este gran momento de mi vida! <br>
						Salón Don Ignacio, Av. Rancagua 8400, Córdoba. <br>
						<span class="font-bold">¡Se aprecia muchísimo la puntualidad!</span> <br> <br>
						Clickeá en el botón de abajo y encontrá las indicaciones para llegar, ¡nos vemos!😉
					</p>
					<Button display="COMO LLEGAR" href="https://maps.app.goo.gl/cXuoPGMhLbzMgLgT7" />
				</div>
			</section>

			<!-- GRILLA IMAGENES -->
			<section>
				<div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-6 md:px-40">
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto01} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto02} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto03} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto04} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto05} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto06} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto07} alt="Three Balloons" />
					</div>
					<div>
						<Image class="shadow-xl drop-shadow-xl h-auto max-w-full rounded-lg" src={Foto08} alt="Three Balloons" />
					</div>
				</div>
			</section>

			<!-- CONFIRMACION DE ASISTENCIA -->
			<section>
				<div class="section">		
					<h2 class="subtitle">CONFIRMACIÓN DE ASISTENCIA</h2>
					<p class="text-lg text-[#4B4B4B]">
						¡Cuento con tu presencia!
					</p>
					<Button display="CONFIRMAR ASISTENCIA" href="https://forms.gle/bBJHovCXd5iKYmUC9" />
				</div>	
			</section>

			<!-- DRESS CODE -->
			<section>
				<div class="section bg-color1">
					<Icon name="dress" />
					<h2 class="subtitle">DRESS CODE</h2>
					<p class="text-lg text-[#4B4B4B]">Formal - Semi-formal</p>
				</div>
			</section>

			<!-- SUGERIR CANCION -->
			<section>
				<div class="section">
					<Icon name="music" />
					<h2 class="subtitle">MÚSICA</h2>
					<p class="text-lg text-[#4B4B4B]">¡Ayudame sugiriendo las canciones que pensás que no pueden faltar!</p>
					<Button display="SUGERIR CANCIÓN" href="https://forms.gle/E7N7grDfn1mGMTJS9" />
				</div>
			</section>

			<!-- AGRADECIMIENTOS -->
			<section>
				<div class="section bg-color1">
					<p class="text-lg text-[#4B4B4B]">
						¡Gracias por acompañarme en este momento tan importante de mi vida! <br>
						Espero que lo disfrutes tanto como yo <br>
						💜
					</p>
				</div>
				<div id="contact" class="px-4 pb-6 bg-color1 font-bold">
					<p>Ante cualquier duda, contactate con Yanina (madre): 351-3511843</p>
				</div>
			</section>
		</div>
	</main>
</Layout>

<style>
	section{
		flex-direction: row;
		text-align: center;
		height: fit-content;
		justify-content: center;
	}

	.section{
		padding: 80px 24px 100px 24px;
	}
	.watch{
		padding: 60px 24px 60px 24px;
	}


	.subtitle{
		font-size: 1.5rem;
		line-height: 2rem;
		margin: 5px 0px 20px 0px;
		font-weight: 700;
	}
	
	.arrow-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}

	.arrow {
		width: 45px;
		height: 45px;
	/* 	border: 2px solid #fff; */
	/* 	border-radius: 50%; */
		position: absolute;
		bottom: 30px;
		margin: auto;
		transition: ease-in;
		animation: down 1.5s infinite;
		-webkit-animation: bounce 1.5s infinite;
	}
	.arrow::before {
		content: "";
		position: absolute;
		top: 11px;
		left: 13px;
		width: 24px;
		height: 24px;
		border-left: 2px solid #fafafa;
		border-bottom: 2px solid #fafafa;
		transform: rotate(-45deg);
	}

	@keyframes bounce {
		0% {
			transform: translate(0);
		}
		20% {
			transform: translateY(15px);
		}
		40% {
			transform: translate(0);
		}
	}

	@-webkit-keyframes bounce {
		0% {
			transform: translate(0);
		}
		20% {
			transform: translateY(15px);
		}
		40% {
			transform: translate(0);
		}
	}

	.fade-in {
		opacity: 1;
		transition: 1s all ease-in;
	}

	.fade-out {
		opacity: 0;
		transition: 1s all ease-out;
	}

</style>
